[submodule "php/lib/phoauth"]
	path = php/lib/phoauth
	url = https://github.com/icheishvili/phoauth.git
[submodule "python/lib/pyoauth"]
	path = python/lib/pyoauth
	url = https://github.com/icheishvili/pyoauth.git
[submodule "php/lib/zf2"]
	path = php/lib/zf2
    url = https://github.com/zendframework/zf2.git
    ignore = dirty
